* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

nav > a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
}

.home {
  height: 100vh;
  width: 100vw;
  background-image: url("assets/Images/leaves-horizontal.jpg");
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.home__heading {
  color: white;
  font-family: "Oleo Script", cursive;
  font-size: 50px;
  padding: 20px;
  text-align: center;
}
.home--arrow {
  color: white;
  font-size: 50px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.home--arrow a {
  text-decoration: none;
  color: white;
}

.about {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.about__heading {
  color: black;
  font-family: "Oleo Script", cursive;
  font-size: 50px;
}
.about__text {
  max-width: 70vw;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-align: center;
}

.projects {
  padding-top: 60px;
  padding-bottom: 20px;
  background-color: black;
}
.projects__heading {
  font-family: "Oleo Script", cursive;
  font-size: 50px;
  color: white;
  text-align: center;
  padding-bottom: 10px;
}
.projects__window {
  background-color: white;
  min-height: 50vh;
  margin: 20px;
  padding: 20px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.projects__window img {
  width: 100%;
  height: 30vh;
  border-radius: 2px;
}
.projects__window h3 {
  font-family: "Oleo Script", cursive;
  color: black;
  font-size: 30px;
  padding: 10px;
}
.projects__window p {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 15px;
  text-align: justify;
  padding: 10px;
  padding-top: 0;
}
.projects__window a {
  text-decoration: none;
}
.projects__window:last-child {
  margin-bottom: 0;
}
.projects__window--button {
  background: #e7e7e7;
  border: 1px solid black;
  border-radius: 7px;
  color: black;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  padding: 13px 20px 11px;
  text-align: center;
  text-decoration: none;
  vertical-align: bottom;
}

.skills {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: white;
}
.skills__heading {
  font-family: "Oleo Script", cursive;
  color: black;
  font-size: 50px;
  text-align: center;
  padding-bottom: 10px;
}
.skills__list {
  font-family: "Roboto", sans-serif;
  color: black;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  text-align: center;
  padding: 10px;
  width: 180px;
  margin: 0 auto;
}
.skills__list__cell {
  display: flex;
  justify-content: flex-start;
}
.skills__list__cell span {
  padding: 0 20px;
}

footer {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  min-height: 10vh;
}
footer a {
  color: white;
  text-decoration: none;
  font-family: "Oleo Script", cursive;
  font-size: 25px;
  text-align: center;
  padding: 40px;
  max-width: 250px;
}
footer img {
  display: none;
}

@media screen and (min-width: 1200px) {
  nav a {
    font-size: 25px;
  }

  .home__heading {
    font-size: 80px;
  }
  .home--arrow {
    font-size: 80px;
  }

  .about {
    height: 60vh;
    padding-bottom: 60px;
  }
  .about__heading {
    text-align: center;
    font-size: 80px;
  }
  .about__text {
    text-align: center;
    font-size: 27px;
  }

  .projects {
    padding: 80px;
  }
  .projects__heading {
    font-size: 80px;
  }
  .projects__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .projects__window {
    justify-self: center;
    max-width: 30vw;
    padding: 30px;
  }
  .projects__window h3 {
    font-size: 40px;
  }
  .projects__window p {
    font-size: 20px;
  }
  .projects__window:last-child {
    margin-bottom: 20px;
  }
  .projects__window img {
    min-width: 20vw;
    min-height: 200px;
  }

  .skills__list {
    grid-template-columns: 1fr 1fr;
    font-size: 40px;
    width: 900px;
  }
  .skills__list__cell {
    padding: 10px;
    justify-self: left;
  }
  .skills__heading {
    font-size: 80px;
    padding-bottom: 20px;
  }

  footer a {
    font-size: 50px;
    max-width: 290px;
  }
  footer img {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about {
    height: 60vh;
  }

  .projects__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projects__window {
    max-width: 80vw;
  }
}