// use or import? get use to work
@import 'assets/styles/_variables.scss';
@import 'assets/styles/_typography.scss';

// CREATED FOR MOBILE LAYOUT FIRST

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    height: 50px;
    background-color: $primary-color;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    // place nav on top - high number means on top
    z-index: 9999;
}

nav > a {
    text-decoration: none;
    color: $secondary-color;
    font-family: $secondary-font;
}

.home {
    height: 100vh;
    width: 100vw;
    background-image: url('assets/Images/leaves-horizontal.jpg');
    // image took LHS, use background-position to center the image
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    &__heading {
        color: $secondary-color;
        font-family: $primary-font;
        font-size: $main-heading-mobile;
        padding: 20px;
        // to center text in header cell, after offset during wrap
        text-align: center;
    }
    &--arrow {
        color: $secondary-color;
        font-size: $main-heading-mobile;
        // position arrow
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        a {
            text-decoration: none;
            color: $secondary-color;
        }
    }
}

.about {
    background-color: $secondary-color;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    &__heading {
        color: $primary-color;
        font-family: $primary-font;
        font-size: $main-heading-mobile;
    }
    &__text {
        max-width: 70vw;
        color: $primary-color;
        font-family: $secondary-font;
        font-size: 20px;
        text-align: center;
    }
}

.projects {
    padding-top: 60px;
    padding-bottom: 20px;
    background-color: $primary-color;
    &__heading {
        font-family: $primary-font;
        font-size: $main-heading-mobile;
        color: $secondary-color;
        text-align: center;
        padding-bottom: 10px;
    }
    &__window {
        background-color: $secondary-color;
        min-height: 50vh;
        margin: 20px;
        padding: 20px;
        // small border-radius just to take off the point
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        img {
            // width of 100% will span whole of container - space around edge due to padding in container
            width: 100%;
            height: 30vh;
            border-radius: 2px;
        }
        h3 {
            font-family: $primary-font;
            color: $primary-color;
            font-size: 30px;
            padding: 10px;
        }
        p {
            font-family: $secondary-font;
            color: $primary-color;
            font-size: 15px ;
            text-align: justify;
            padding: 10px;
            padding-top: 0;
        }
        a {
            text-decoration: none;
        }
        // remove margin from last window so the lower black strip is not too large
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.skills {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: $secondary-color;
    &__heading {
        font-family: $primary-font;
        color: $primary-color;
        font-size: $main-heading-mobile;
        text-align: center;
        padding-bottom: 10px;
    }
    &__list {
        font-family: $secondary-font;
        color: $primary-color;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        text-align: center;
        padding: 10px;
        width: 180px;
        margin: 0 auto;
        &__cell {
            display: flex;
            justify-content: flex-start; 
            span {
                padding: 0 20px;
            }
        }
    }
}

footer {
    background-color: $primary-color;
    display: flex;
    justify-content: space-evenly;
    min-height: 10vh;
    a {
        color: $secondary-color;
        text-decoration: none;
        font-family: $primary-font;
        font-size: 25px;
        text-align: center;
        padding: 40px;
        max-width: 250px;
    }
    // make emblem not visible for mobile
    img {
        display: none;
    }

}

// DESKTOP LAYOUT

@media screen and (min-width: 1200px) {
    nav {
        a {
            font-size: 25px;
        }
    }

    .home {
        &__heading {
            font-size: $main-heading-desktop;
        }
        &--arrow {
            font-size: $main-heading-desktop;
        }
    }

    .about {
        height: 60vh;
        padding-bottom: 60px;
        &__heading {
            text-align: center;
            font-size: $main-heading-desktop;
        }
        &__text {
            text-align: center;
            font-size: 27px;
        }
    }

    .projects {
        padding: 80px;
        &__heading {
            font-size: $main-heading-desktop;
        }
        &__container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        &__window {
            justify-self: center;
            max-width: 30vw;
            padding: 30px;
            h3 {
                font-size: 40px;
            }
            p {
                font-size: 20px;
            }
            &:last-child {
                margin-bottom: 20px;
            }
            img {
                min-width: 20vw;
                min-height: 200px;
            }
        }
    }

    .skills {
        &__list {
            grid-template-columns: 1fr 1fr;
            font-size: 40px;
            width: 900px;
            &__cell {
                padding: 10px;
                justify-self: left;
            }
        }
        &__heading {
            font-size: $main-heading-desktop;
            padding-bottom: 20px;
        }
    }

    footer {
        a {
            font-size: 50px;
            max-width: 290px;
        }
        // make emblem visible for desktop
        img {
            display: block;
        }
    }
}

// TABLET LAYOUT

@media screen and (min-width: 768px) and (max-width: 1200px - 1px) {
    .about {
        height: 60vh;
    }
    .projects{
        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__window {
            max-width: 80vw;
        }
    }
}
