* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

nav > a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
}

.home {
  height: 100vh;
  width: 100vw;
  background-image: url("assets/Images/leaves-horizontal.jpg");
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.home__header {
  color: white;
  font-family: "Oleo Script", cursive;
  font-size: 50px;
  padding: 20px;
  text-align: center;
}
.home--arrow {
  color: white;
  font-size: 50px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.home--arrow a {
  text-decoration: none;
  color: white;
}

.about {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.about__header {
  color: black;
  font-family: "Oleo Script", cursive;
  font-size: 50px;
}
.about__text {
  max-width: 70vw;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-align: center;
}

.projects {
  padding-top: 60px;
  padding-bottom: 10px;
  background-color: black;
}
.projects__heading {
  font-family: "Oleo Script", cursive;
  font-size: 50px;
  color: white;
  text-align: center;
  padding-bottom: 10px;
}
.projects--window {
  background-color: white;
  min-height: 50vh;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.projects--window img {
  width: 100%;
  height: 30vh;
}
.projects--window h3 {
  font-family: "Oleo Script", cursive;
  color: black;
  font-size: 30px;
  padding: 10px;
}
.projects--window p {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 15px;
  text-align: center;
  padding: 10px;
  padding-top: 0;
}
.projects--window:last-child {
  margin-bottom: 0;
}

.skills {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: white;
}
.skills h2 {
  font-family: "Oleo Script", cursive;
  color: black;
  font-size: 50px;
  text-align: center;
  padding-bottom: 10px;
}
.skills__list {
  font-family: "Roboto", sans-serif;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 10px;
  text-align: center;
  padding: 10px;
}

footer {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  min-height: 20vh;
}
footer a {
  color: white;
  text-decoration: none;
  font-family: "Oleo Script", cursive;
  font-size: 25px;
  text-align: center;
  padding: 40px;
}