// use or import? get use to work
@import 'assets/styles/_variables.scss';

// CREATED FOR MOBILE LAYOUT FIRST

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    height: 50px;
    background-color: $primary-color;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    // place nav on top - high number means on top
    z-index: 9999;
}

nav > a {
    text-decoration: none;
    color: $secondary-color;
    font-family: $secondary-font;
}

.home {
    height: 100vh;
    width: 100vw;
    background-image: url('assets/Images/leaves-horizontal.jpg');
    // image took LHS, use background-position to center the image
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    &__header {
        color: $secondary-color;
        font-family: $primary-font;
        font-size: 50px;
        padding: 20px;
        // to center text in header cell, after offset during wrap
        text-align: center;
    }
    &--arrow {
        color: $secondary-color;
        font-size: 50px;
        // position arrow
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        a {
            text-decoration: none;
            color: $secondary-color;
        }
    }
}

.about {
    background-color: $secondary-color;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    &__header {
        color: $primary-color;
        font-family: $primary-font;
        font-size: 50px;
    }
    &__text {
        max-width: 70vw;
        color: $primary-color;
        font-family: $secondary-font;
        font-size: 20px;
        text-align: center;
    }
}

.projects {
    padding-top: 60px;
    padding-bottom: 10px;
    background-color: $primary-color;
    &__heading {
        font-family: $primary-font;
        font-size: 50px;
        color: $secondary-color;
        text-align: center;
    }
    &--window {
        background-color: $secondary-color;
        min-height: 50vh;
        margin: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        img {
            // width of 100% will span whole of container - space around edge due to padding in container
            width: 100%;
            height: 30vh;
        }
        h3 {
            font-family: $primary-font;
            color: $primary-color;
            font-size: 30px;
            padding: 10px;
        }
        p {
            font-family: $secondary-font;
            color: $primary-color;
            font-size: 15px ;
            text-align: center;
            padding: 10px;
            padding-top: 0;
        }
        // remove margin from last window so the lower black strip is not too large
        &:last-child {
            margin-bottom: 0;
        }
    }
}
